<section id="banner">
    <img class="logo" src="../../assets//pngegg.png" alt="">
    <div class="banner-text">
        <h1>
            Dating Spot
        </h1>
        <p>
            Start something epic.
        </p>
        <div class="banner-btn">
            <a href="login"> <span></span> Login </a>
            <a href="register"> <span></span> Register </a>
        </div>
    </div>
</section>
<!-- <div id="sidenav">
    <nav>
        <ul>
            <li><a href=""> Home </a></li>
            <li><a href=""> Login </a></li>
            <li><a href=""> Register </a></li>
        </ul>
    </nav>
</div> -->