<!-- <div class="nav">
    <div class="d-flex align-items-center justify-content-between w-100" >
        <div class="logo-padding">
            <img  class="logo" src="../../assets/logo.jpg" alt="">
        </div>
        <span class="float-right">
            <button class="btn btn-sm" routerLink="/login">
                Login
            </button>
            <button class="btn btn-sm" routerLink="/register">
                Sign Up
            </button>
        </span>
    </div>
</div> -->

<section id="banner">
    <img class="logo" src="../../assets/Dating-logo.webp" alt="">
    <div class="banner-text">
        <h1>
            Dating Spot
        </h1>
        <p>
            Start something epic.
        </p>
    </div>
</section>