<div class="h-100 w-100">
    <section class="h-100 w-100">
        <div class="login-left">
            <img src="../../assets/logo.jpg" alt="">
        </div>
        <div class="login-right float-right w-50 h-100">
            <div class="form-width">
                <h5 style="padding-bottom: 15px;">
                    Log in to your account
                </h5>
                <div>
                    <form>
                        <div class="form-group" style="padding-bottom: 10px;">
                            <label for="userName" style="padding-bottom: 5px;">
                                User Name <span class="mandatory">*</span>
                            </label>
                            <input type="text" class="form-control form-control-sm" name="" id="userName"
                                placeholder="Enter Username">
                        </div>
                        <div class="form-group" style="padding-bottom: 10px;">
                            <label for="password" style="padding-bottom: 5px;">
                                Password <span class="mandatory">*</span>
                            </label>
                            <input type="password" class="form-control form-control-sm" name="" id="password"
                                placeholder="Enter password">
                        </div>
                        <div class="form-group" style="padding-bottom: 15px;">
                            <span>
                                <label for="rememberMe">
                                    <input type="checkbox" name="" id="rememberMe">
                                    Remember me
                                </label>
                            </span>
                            <span style="float: right;">
                                <a href="">Forgot password?</a>
                            </span>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center w-100" style="padding-bottom: 10px;">
                        <button class="btn btn-outline-primary btn-sm login-btn" style="padding: 5px;">
                            Login
                        </button>
                    </div>
                    <div>
                        <span>
                            <h6>Don't have an account?
                               <a href="">
                                    Sign Up
                               </a> 
                            </h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
