<body>
    <div class="sidebar" [class]="sideMenuToggle? '': 'active'">
        <div class="logo-details" routerLink="dashboard">
            <img class="" src="../../../assets/pngegg.png" alt="">
            <span class="logo_name">Dating Spot</span>
        </div>
        <ul class="nav-links">
            <li *ngFor="let sideMenu of sideMenuArray">
                <a routerLink="{{sideMenu.routingUrl}}" [routerLinkActive]="sideMenu.menuName == 'Logout'?'':'active'"
                    title="{{sideMenuToggle? '': sideMenu.menuName}}"
                >
                    <span class="material-icons-round menu-icon">{{sideMenu.menuIcon}}</span>
                    <span matBadge="{{sideMenu.notificationCount}}" matBadgeOverlap="false" class="links_name">{{sideMenu.menuName}}</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <button mat-icon-button class="sidebarBtn" (click)="menuToggle()">
                    <span class="material-icons-round">menu</span>
                </button>
                <span class="dashboard">Dashboard</span>
            </div>

            <div class="profile-details">
    
            </div>
        </nav>

        <div class="home-content">
            <router-outlet></router-outlet>
        </div>
    </section>

</body>