/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-shadow: border-box;
}

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #677483;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.btn{
    padding: 5px;
    margin: 5px;
    min-width: 5rem;
}

.mandatory{
    color: var(--color-danger);
}

.error-field{
    color: var(--color-danger);
    font-size: 13px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.mat-menu-panel{
    margin-right: 10px !important;
}

.mat-menu-content{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.form-group{
    padding-bottom: 15px;
}

.multiple-error-msg{
    white-space: nowrap;
    float: right;
}

h1.custom-size{
    font-weight: 800;
    font-size: 2rem !important;
}

h2.custom-size{
    font-size: 1.6rem !important;
}

h3.custom-size{
    font-size: 1.2rem !important;
}

h4.custom-size{
    font-size: 1rem !important;
}

h5.custom-size{
    font-size: 0.77rem !important;
}

small{
    font-size: 0.75rem !important;
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

/*#region mat-button with google-material-icons*/
.mat-icon-btn{
    display: flex !important;
    align-items: center !important;
}

.mat-icon-btn span{
    padding-right: 10px;
}
/*#endregion mat-button with google-material-icons*/

/*#region register*/
.register{
    background: linear-gradient(180deg ,rgb(0 0 0 /0.5),#009688),url('./assets/dating.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 100px !important;   

}

.register-left{
    text-align: center;
    color: white;
    padding: 20px;
}

.register-left p{
    padding: 10px 10px 0;
}

.register-left .btn-primary{
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555;
    /* margin-top: 10px; */
    padding: 10px;
}
.register-left .btn-primary:hover{
    background: #000;
}

.register-right{
    border: none;
    background: rgb(255 255 255 /0.6);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 50px;
}

.register-left img{
    margin-top: 60px;
    margin-bottom: 18px;
    width: 80px;
    animation: mover 1s infinite alternate;
}

.register-right h2{
    text-align: center;
    margin-bottom: 15px;
    color: #555;
}

.register-form{
    padding: 30px;
}

.register-right .btn-primary{
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    /* background: #ff9800; */
    font-weight: 600;
    /* color: #555; */
    /* margin-top: 20px; */
    padding: 10px;
}

/* .register-right .btn-primary:hover{
    background: #ff5722;
} */
.confirm-password{
    padding-bottom: 25px;
}

@keyframes mover {
    from{transform: translateY(0);} /*0%*/
    to{transform: translateY(-20px);}  /*100%*/
}

@media screen and (max-width: 770px) {

    .register-left{
        display: none;
    }

    .register-padding{
        display: none;
    }

    .register-right{
        border-radius: 0px !important;
    }
}


@media screen and (max-height: 700px) {
    .register{
        min-height: 800px !important;
    }
}
/*#endregion register*/

/*#region login*/

.login{
    position: relative;
    width: 100;
    height: 100;
    display: flex;
}

.loginTitle{
    padding-bottom: 20px !important;
    text-align: center;
}

.login .login-left{
    position: relative;
    width: 50%;
    height: 100%;
    min-height: 180px;
}

.login .login-left:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 350px;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

.login .login-left img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 350px;
}

.login .login-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    min-height: 350px;
}

.login .login-right .form-width{
    width: 50%;
    min-width: 253px;
}

.signup{
    white-space: nowrap;
}

@media (max-width: 800px)
{
    .login .login-left{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }   
    .login .login-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        height: 100%;
        z-index: 1;
    }

    .login .login-right .form-width{
        width: 100% !important;
        padding: 40px;
        margin: 50px;
        background: rgb(255 255 255/0.9);
    }
}
/*#endregion login*/ 

/*#region nav*/
.nav-user-button{
    padding-right: 10px;
}

.nav{
    height: 50px;
    color: var(--color-dark);
    background-color: var(--color-background);
}

 .logo:hover{
    cursor: pointer;
}

.logo-img{
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
}

.logo-padding{
    padding-left: 20px !important;
} 

.logo-title{
    padding-left: 10px !important;
    font-family: 'Kaushan Script', cursive;
}

.side-nav-container{
    display: flex;
    margin: 0 auto;
    height: 100vh;
    background-color: var(--color-background);
    min-height: 385px;
}

@media (max-height:500px){
    .side-nav .sidebar a:last-child{
        position: relative !important;
        bottom: auto !important;
    }
}

.side-nav .nav-logo{
    display: flex;
    gap: 0.8rem;
}

.side-nav .nav-logo img{
    display: block;
    width: 100%;
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
}

.side-nav .top{
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-nav .top.half-menu{
    justify-content: center;
}

.side-nav .sidebar{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: all 300ms ease;
}  

.side-nav .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

.side-nav .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

.side-nav .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.side-nav .sidebar a.active{
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

.side-nav .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

.side-nav .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.side-nav .sidebar a:hover{
    color: var(--color-primary);
}

.side-nav .sidebar a:hover span{
    margin-left: 1rem;
}


.side-nav .sidebar .message-count{
    background:  var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

.half-menu{
    width: 80px;
    transition: all 300ms ease;
}

.half-menu a{
    display: flex;
    justify-content: center;
    margin: 0!important;
}

.half-menu h4{
    display: none !important;
}

.half-menu .message-count{
    display: none;
}

.half-menu a.active:before{
    left: 0;
    position: absolute;
}

.half-menu a.active span{
    margin: 0 !important;
}

.half-menu a.active:hover span{
    margin-left: 1rem !important;
}

.sidebar.full-menu{
    width: 14rem;
}

.half-menu .top {
    justify-content: center;
}

/*#endregion nav*/
