/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-shadow: border-box;
}

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #677483;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.btn {
    padding: 5px;
    margin: 5px;
    min-width: 5rem;
}

.mandatory {
    color: var(--color-danger);
}

.error-field {
    color: var(--color-danger);
    font-size: 13px;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.mat-menu-panel {
    margin-right: 10px !important;
}

.mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.form-group {
    padding-bottom: 15px;
}

.multiple-error-msg {
    white-space: nowrap;
    float: right;
}

h1.custom-size {
    font-weight: 800;
    font-size: 2rem !important;
}

h2.custom-size {
    font-size: 1.6rem !important;
}

h3.custom-size {
    font-size: 1.2rem !important;
}

h4.custom-size {
    font-size: 1rem !important;
}

h5.custom-size {
    font-size: 0.77rem !important;
}

small {
    font-size: 0.75rem !important;
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/*#region mat-button with google-material-icons*/
.mat-icon-btn {
    display: flex !important;
    align-items: center !important;
}

.mat-icon-btn span {
    padding-right: 10px;
}

/*#endregion mat-button with google-material-icons*/

/*#region register*/
.register {
    background: linear-gradient(180deg, rgb(0 0 0 /0.5), #009688), url('./assets/dating.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 100px !important;

}

.register-left {
    text-align: center;
    color: white;
    padding: 20px;
}

.register-left p {
    padding: 10px 10px 0;
}

.register-left .btn-primary {
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555;
    /* margin-top: 10px; */
    padding: 10px;
}

.register-left .btn-primary:hover {
    background: #000;
}

.register-right {
    border: none;
    background: rgb(255 255 255 /0.6);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 50px;
}

.register-left img {
    margin-top: 60px;
    margin-bottom: 18px;
    width: 80px;
    animation: mover 1s infinite alternate;
}

.register-right h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #555;
}

.register-form {
    padding: 30px;
}

.register-right .btn-primary {
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    /* background: #ff9800; */
    font-weight: 600;
    /* color: #555; */
    /* margin-top: 20px; */
    padding: 10px;
}

/* .register-right .btn-primary:hover{
    background: #ff5722;
} */
.confirm-password {
    padding-bottom: 25px;
}

@keyframes mover {
    from {
        transform: translateY(0);
    }

    /*0%*/
    to {
        transform: translateY(-20px);
    }

    /*100%*/
}

@media screen and (max-width: 770px) {

    .register-left {
        display: none;
    }

    .register-padding {
        display: none;
    }

    .register-right {
        border-radius: 0px !important;
    }
}


@media screen and (max-height: 700px) {
    .register {
        min-height: 800px !important;
    }
}

/*#endregion register*/

/*#region login*/

.login {
    position: relative;
    width: 100;
    height: 100;
    display: flex;
}

.loginTitle {
    padding-bottom: 20px !important;
    text-align: center;
}

.login .login-left {
    position: relative;
    width: 50%;
    height: 100%;
    min-height: 180px;
}

.login .login-left:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 350px;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

.login .login-left img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 350px;
}

.login .login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    min-height: 350px;
}

.login .login-right .form-width {
    width: 50%;
    min-width: 253px;
}

.signup {
    white-space: nowrap;
}

@media (max-width: 800px) {
    .login .login-left {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .login .login-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        height: 100%;
        z-index: 1;
    }

    .login .login-right .form-width {
        width: 100% !important;
        padding: 40px;
        margin: 50px;
        background: rgb(255 255 255/0.9);
    }
}

/*#endregion login*/

/*#region nav*/

.logo_name {
    color: var(--color-white);
    font-family: 'Kaushan Script', cursive !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 120px;
    overflow: hidden;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    /*#0A2558 */
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

/* .sidebar.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar.active .nav-links .links_name , .sidebar.active .logo-details .logo_name{
    display: none;
    transition: 0.5s all ease;
}

.sidebar.active .logo-details{
    position: absolute;
    top: 0;
} */

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details:hover {
    cursor: pointer;
}

.sidebar .logo-details img {
    font-size: 28px;
    font-weight: 500;
    color: var(--color-white);
    min-width: 30px;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    margin: 15px;
}

.sidebar .logo-details img {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 500;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li .menu-icon {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: var(--color-white);
}

.sidebar .nav-links li a .links_name {
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

/* .sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
    overflow: auto;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.sidebarBtn {
    margin-right: 10px !important;
}

.home-content {
    padding-top: 80px !important;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 220px;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        /* width: calc(100% - 60px); */
        left: 220px;
        overflow: hidden;
    }

    .sidebar.active~.home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }
}


@media (max-width: 700px) {

    nav .sidebar-button .dashboard {
        display: none;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}

/*#endregion nav*/
